
.app-dashboard-week-view {
  flex: 1 1 auto;
  //display: grid;
  //grid-template-rows: auto;

  &__header {
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    padding-left: 45px;

    &--separator {
      //border-bottom: 1px solid rgb(218, 220, 224);
    }

    &--day {
      border-style: solid;
      border-color: rgb(218, 220, 224);
      border-width: 0 0 0 1px;
      text-align: center;

      div {
        &:first-child {
          line-height: 32px;
          position: relative;
          z-index: 5;
          color: #70757a;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: .8px;
          margin-left: 0;
          margin-top: 8px;
          text-transform: uppercase;
        }

        &:last-child {
          height: 46px;
          width: 46px;
          border-radius: 50%;
          margin: 0 auto 10px;
          line-height: 46px;
          cursor: pointer;
          font-size: 25px;
          color: rgb(60, 64, 67);

          &:hover {
            background-color: rgb(241, 243, 244);
          }
        }


      }

      &.now {
        div {

          &:first-child {
            color: rgb(26, 115, 232);
          }

          &:last-child {
            color: white;
            background-color: rgb(26, 115, 232);
          }
        }
      }
    }
  }

  &__body {
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    padding-left: 45px;

    &--separator {
      display: grid;
      grid-template-rows: auto;

      div {
        border-top: 1px solid rgb(218, 220, 224);
        position: relative;
        span{
          position: absolute;
          color: #70757a;
          font-size: 10px;
          top: 0;
          white-space: nowrap;
          left: -5px;
          transform: translate(-100%, -50%);
        }
      }
    }

    &--days {
      display: grid;
      grid-template-rows: auto;

      &__box {
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: rgb(218, 220, 224);
        height: 50px;
        position: relative;
        box-sizing: border-box;
        &--appointment{
          background: rgb(179, 225, 247);
          width: calc(100% - 4px);
          left: 2px;
          position: absolute;
          top: 2px;
          padding: 5px;
          box-sizing: border-box;
          cursor: pointer;
          border: 2px solid rgb(3, 155, 229);
          z-index: 1;
          border-radius: 8px;
          mat-icon {
            position: absolute;
            width: 20px;
            height: 20px;
            font-size: 20px;

            &:nth-child(1) {
              cursor: move;
              right: 10px;
              color: rgb(0 172 255);

            }
            &:nth-child(2) {
              cursor: pointer;
              right: 40px;
              color: rgb(251 188 5);

            }
          }
          &--appointment{
            background: rgb(225, 243, 252, 0.8);
            width: 100%;
            height: 100%;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;

            div{
              font-weight: 500;
              font-size: 12px;
              color: rgb(60, 64, 67);
              &:last-child{
                font-weight: 400;
              }
            }
          }
          div{
            font-weight: 500;
            font-size: 12px;
            color: rgb(60, 64, 67);
            &:last-child{
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
