.app-dashboard {
  display: flex;
  padding-top: 56px;
  height: 100vh;

  &__left-side-bar {
    border-right: rgb(218, 220, 224) 1px solid;
    width: 256px;
  }

  &__main {
    flex: 1;
    display: flex;
    overflow: auto;

  }
}
